<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:cache="http://www.springframework.org/schema/tool"
       xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/tool
        http://www.springframework.org/schema/tool/spring-tool.xsd">

    <!--<import resource="classpath:/spring/spring-db.xml"/>-->
    <!--&lt;!&ndash;<import resource="classpath:/spring/spring-redis.xml"/>&ndash;&gt;-->

    <!--&lt;!&ndash; 导入资源文件 &ndash;&gt;-->
    <!--<context:property-placeholder location="classpath:db.properties" ignore-unresolvable="true"/>-->
    <!--&lt;!&ndash; 启动spring定时器 &ndash;&gt;-->
    <!--&lt;!&ndash;<task:annotation-driven/>&ndash;&gt;-->
    <!--&lt;!&ndash;<tx:annotation-driven/>&ndash;&gt;-->


    <!--<bean id="aspectBean" class="com.sheng.example.springaop.aspect.TestAspect" />-->
    <!--&lt;!&ndash; 配置事物切点，并把切点和事物关联起来&ndash;&gt;-->
    <!--<aop:config>-->
        <!--<aop:aspect id="TestAspect" ref="aspectBean">-->
            <!--&lt;!&ndash;配置com.spring.service包下所有类或接口的所有方法&ndash;&gt;-->
            <!--<aop:pointcut id="businessService" expression="execution(* com.sheng.example.springaop.service.impl.AOPServiceImpl.aop*(..))" />-->
            <!--<aop:before pointcut-ref="businessService" method="doBefore"/>-->
            <!--<aop:after pointcut-ref="businessService" method="doAfter"/>-->
            <!--<aop:around pointcut-ref="businessService" method="doAround"/>-->
            <!--<aop:after-throwing pointcut-ref="businessService" method="doThrowing" throwing="ex"/>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->

    <!--<aop:aspectj-autoproxy></aop:aspectj-autoproxy>-->
    <!--&lt;!&ndash;<bean id="myInterceptor" class="com.sheng.example.springaop.aspect.TestAnnotationAspect"/>&ndash;&gt;-->

    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"-->
          <!--p:prefix="/WEB-INF/jsp/"-->
          <!--p:suffix=".jsp"-->
    <!--/>-->

    <!--&lt;!&ndash; 解决静态资源问题-->
   <!--mapping：映射-->
   <!--location：本地资源路径，注意必须是webapp根目录下的路径。两个*，它表示映射resources/下所有的URL，包括子路径（即接多个/）-->
   <!--&ndash;&gt;-->
    <!--<mvc:resources location="/WEB-INF/static/upload/" mapping="/upload/"/>-->
    <!--<mvc:resources location="/WEB-INF/static/js/" mapping="/js/*"/>-->
    <!--<mvc:resources location="/WEB-INF/static/css/" mapping="/css/**"/>-->
    <!--<mvc:resources location="/WEB-INF/static/html/" mapping="/html/**"/>-->

    <!--&lt;!&ndash; 缓存设置 &ndash;&gt;-->
    <!--&lt;!&ndash; 启动缓存 &ndash;&gt;-->
    <!--&lt;!&ndash;<cache:annotation-driven cache-manager="cacheManager" />&ndash;&gt;-->

    <!--&lt;!&ndash;<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="cacheManager" ref="ehcache"></property>&ndash;&gt;-->
    <!--&lt;!&ndash;</bean>&ndash;&gt;-->

    <!--&lt;!&ndash;<bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="configLocation" value="classpath:ehcache-setting.xml"></property>&ndash;&gt;-->
    <!--&lt;!&ndash;</bean>&ndash;&gt;-->

    <!--<bean id="springDao" name="springDao2" class="com.huangy.ioc.set.SpringDao"/>-->


</beans>